---
import BaseLayout from "../layouts/BaseLayout.astro";

// Additional imports if needed
---

<BaseLayout sideBarActiveItemID="about">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hello, and welcome!</div>
    <div class="text-5xl font-bold">I'm Jared Kominsky</div>
    <div class="text-3xl py-3 font-bold">
      Site Reliability Engineer & Technology Enthusiast
    </div>
    <div class="py-2">
      <p class="text-lg">
        With a passion for optimizing systems and implementing robust solutions, I specialize 
        in AWS, Kubernetes, Docker, Terraform, and Python. My journey began at Belmont 
        University, where I majored in Computer Science and minored in Entrepreneurship, 
        blending technical expertise with innovative thinking. When I'm not enhancing system 
        reliability, you can find me immersed in hydroponic gardening, playing tennis, 
        traveling, or exploring new culinary delights.
      </p>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Professional Journey</div>
    <div class="py-2">
      <p class="text-lg">
        Throughout my career, I've had the privilege of working with dynamic teams at
        Groups360 and Built Technologies. At Groups360, I overhauled DataDog
        implementations and improved incident response times by 50%. At Built
        Technologies, I implemented monitoring solutions that reduced incident
        response time by 75% and streamlined testing processes to enhance
        development efficiency. My approach centers around continuous
        improvement, collaboration, and delivering high-quality solutions.
      </p>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Projects & Contributions</div>
    <div class="py-2">
      <p class="text-lg">
        I'm passionate about open-source and continuously engage in projects that
        push the boundaries of technology. Some of my notable projects include
        developing a full-stack authentication platform, creating Terraform
        modules for AWS EKS cluster management, and automating repository
        creation processes. These projects showcase my technical skills and
        commitment to innovation and efficiency.
      </p>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Awards & Recognitions</div>
    <div class="py-2">
      <p class="text-lg">
        My dedication to excellence has been recognized through awards such as
        the Built Onward Award at Built Technologies, given to less than 10% of
        team members for exceptional work ethic and outstanding results. At
        Belmont University, I was honored with the Stephen Campbell Math &
        Computer Science Award and consistently made the Dean's List. These
        accolades reflect my commitment to both professional and academic
        excellence.
      </p>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Let's Connect</div>
    <div class="py-2">
      <p class="text-lg">
        I'm always eager to connect with like-minded professionals and explore
        new opportunities. Whether you'd like to discuss technology,
        collaborate on a project, or share insights on gardening and cooking,
        feel free to reach out. Let's work together to create efficient,
        reliable systems—and perhaps enjoy a good meal along the way!
      </p>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://linkedin.com/in/jared-kominsky"
        target="_blank"
        rel="noopener noreferrer"
      >
        Connect on LinkedIn
      </a>
      <a
        href="https://github.com/KominskyOrg"
        target="_blank"
        rel="noopener noreferrer"
        class="btn btn-outline ml-5"
      >
        Visit My GitHub
      </a>
    </div>
  </div>
</BaseLayout>
