---
import BaseLayout from "../layouts/BaseLayout.astro";

// Additional imports if needed
---

<BaseLayout sideBarActiveItemID="about">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Greetings, Digital Explorer!</div>
    <div class="text-5xl font-bold">I'm Jared Kominsky</div>
    <div class="text-3xl py-3 font-bold">
      Your Go-To Guru for Site Reliability & Engineering Excellence
    </div>
    <div class="py-2">
      <text class="text-lg">
        Bridging the gap between cutting-edge technology and practical
        solutions, I'm a Site Reliability Engineer who turns technical
        conundrums into seamless, robust infrastructures. My journey began at
        Belmont University, where I blended my love for coding with
        entrepreneurial zest. When I'm not debugging code, you can find me
        tending to my hydroponic garden or conquering virtual worlds in video
        games.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">A Tale of Tech and Triumph</div>
    <div class="py-2">
      <text class="text-lg">
        From automating mundane tasks to orchestrating cloud-based symphonies,
        my career is a tapestry of challenges turned into triumphs. At Built
        Technologies, I championed initiatives that reduced incident response
        times by a staggering 75% and redefined the QA process for peak
        efficiency. My approach is simple: understand, innovate, implement, and
        iterate.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      Accolades & Acknowledgments
    </div>
    <div class="py-2">
      <text class="text-lg">
        My journey is punctuated with accolades that speak volumes about my
        dedication and skill. The 'Built Onward Award' for exceptional work
        ethic and the 'Stephen Campbell Math & Comp Sci Award' from Belmont
        University are testaments to my unwavering commitment to excellence.
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Connect & Collaborate</div>
    <div class="py-2">
      <text class="text-lg">
        I'm always on the lookout for new challenges and collaborations. If
        you're keen to discuss technology, brainstorm on innovative solutions,
        or simply share your love for gardening and gaming, I'm just a message
        away. Let's connect and make the digital world a better, more reliable
        place!
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://linkedin.com/in/jared-kominsky"
        target="_blank">Connect on LinkedIn</a
      >
      <a
        href="https://github.com/KominskyOrg"
        target="_blank"
        class="btn btn-outline ml-5">Visit My GitHub</a
      >
      <!-- Additional social links or portfolio links can be added here -->
    </div>
  </div>
</BaseLayout>
