---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Jared Kominsky</div>
    <div class="text-3xl py-3 font-bold">
      Code Conductor & Reliability Maestro
    </div>
    <div class="py-2">
      <text class="text-lg">
        Turbocharge your systems with my expertise in performance monitoring and
        real-time analytics. Leveraging powerhouse tools like DataDog and
        Terraform, I deliver data-driven solutions that catapult efficiency and
        drive business success. Ready to elevate your metrics? Let's connect!
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://linkedin.com/in/jared-kominsky"
        target="_blank"
      >
        Let's connect!</a
      >
      <a
        href="https://github.com/KominskyOrg"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Check out my GitHub
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Kominsky Portfolio"
    img="/github-mark.svg"
    desc="My CV/Portfolio website, powered by Astro, serves as an interactive hub, presenting my career highlights, project links, and contact information, encapsulating my professional narrative in a sleek, user-friendly format."
    url="https://github.com/KominskyOrg/kom-portfolio"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Automated Repo Creation"
    img="/python-logo.svg"
    desc="Engineered a Python automation tool to expedite repository setups and Terraform configurations, significantly enhancing the maintainability of repositories."
    url="https://github.com/KominskyOrg/repo-creation"
  />
  <HorizontalCard
    title="Home Infrastructure - Infrastructure"
    img="/EKS Cloud.svg"
    desc="Developed a Terraform-based infrastructure for AWS EKS clusters that streamlined deployment processes and improved resource management efficiency."
    url="https://github.com/KominskyOrg/kominsky-aws-tf"
  />
</BaseLayout>
