---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import projectData from "../content/projectData.ts";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Jared Kominsky</div>
    <div class="text-3xl py-3 font-bold">
      Code Conductor & Reliability Maestro
    </div>
    <div class="py-2">
      <text class="text-lg">
        Turbocharge your systems with my expertise in performance monitoring and
        real-time analytics. Leveraging powerhouse tools like DataDog and
        Terraform, I deliver data-driven solutions that catapult efficiency and
        drive business success. Ready to elevate your metrics? Let's connect!
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://linkedin.com/in/jared-kominsky"
        target="_blank"
      >
        Let's connect!</a
      >
      <a
        href="https://github.com/KominskyOrg"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Check out my GitHub
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <div>
    {
      projectData.slice(0, 3).map((project, index) => (
        <>
          <HorizontalCard
            title={project.title}
            img={project.img}
            desc={project.desc}
            url={project.url}
            badge={project.badge || null}
          />
          {index < projectData.slice(0, 3).length - 1 ? (
            <div class="divider my-0" />
          ) : null}
        </>
      ))
    }
  </div>
</BaseLayout>
